/* NavBar Styles */
.app-bar {
    background-color: #2fbb2f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-button {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .logo {
    width: 8rem;
    height: 5rem;
    cursor: pointer;
  }
  
  .menu-buttons {
    display: flex;
    align-items: center;
  }
  
  .menu-button {
    color: white;
    margin-left: 1rem;
    transition: color 300ms ease;
  }
  
  .menu-button:hover {
    color: #f0f0f0;
  }
  
  .cart-icon {
    color: white;
    margin-left: 1rem;
  }
  
  .cart-icon:hover {
    color: #f0f0f0;
  }
  
  .badge {
    .MuiBadge-badge {
      background-color: #ff4081;
      color: white;
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 6rem;
      height: 4rem;
    }
  
    .menu-button {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }
  
    .cart-icon {
      margin-left: 0.5rem;
    }
  }
  